<footer class="site-footer" role="contentinfo">
  <div class="container footer-inner">
    <div class="footer-brand">
		<a href="/index.html"><img src="/assets/logo.png" alt="Distributive" class="logo-small"/></a>
      <p class="tagline">Compute.for(<span style="color:var(--accent)">everyone</span>)</p>
    </div>
    <div class="footer-links">
      <a href="/index.html"><h4>Home</h4></a></br>
	  <a href="/suitability.html"><h4>Suitability</h4></a></br>
	  <a href="https://dcp.cloud" target="_blank"><h4>Portal</h4></a>
    </div>
    <div class="footer-links">
      <a href="#"><h4>Jobs</h4></a></br>
	  <a href="https://docs.dcp.dev" target="_blank">Compute API</a></br>
	  <a href="/docs/security-job-data.html">Jobs Data Security</a></br>
    </div>
    <div class="footer-links">
      <a href="/index.html#workers"><h4>Workers</h4></a></br>
	  <a href="/docs/security-worker.html">Architecture</a></br>
	  <a href="/docs/worker-browser.html">Browser</a></br>
	  <a href="/docs/worker-windows.html">Windows Screensaver</a></br>
	  <a href="/docs/worker-docker.html">Docker</a></br>
	  <a href="/docs/worker-linux.html">Linux</a></br>
    </div>
    <div class="footer-links">
      <a href="/docs/compute-economics.html"><h4>Economics</h4></a></br>
    </div>
    <div class="footer-links">
      <a href="/about.html"><h4>About</h4></a></br>
	  <a href="/docs/privacy-policy.html">Privacy Policy</a></br>
    </div>
  </div>
  <div class="container footer-bottom mice-type">
&copy; Distributive <span class="year"></span>. All Rights Reserved. 
  </div>
</footer>
